# Importando bibliotecas

In [1]:
import pandas as pd
import os
import glob
from dateutil.parser import parse
import pandas as pd
from sqlalchemy import create_engine, text
from get_and_process_data_massela.Utils.connection_postgres import ConnectionPostgres

# Criando conexão com banco de dados

In [2]:
connection = ConnectionPostgres.connect('postgresql+psycopg2://postgres:m0du10gp@localhost:5432/masella')

### Criada funções para transformações de dados

In [3]:
def identify_name_and_modality(filename):
    modality = None
    name_student = None
    if 'Musculação' in filename:
        modality = 'Musculação'
        name_student = filename.replace('_Musculação.xls', '')
    if 'Corrida' in filename:
        modality = 'Corrida'
        name_student = filename.replace('_Corrida.xls', '')
    if 'Ciclismo' in filename:
        modality = 'Ciclismo'
        name_student = filename.replace('_Ciclismo.xls', '')
    if 'Natação' in filename:
        modality = 'Natação'
        name_student = filename.replace('_Natação.xls', '')    
    
    name_student = name_student.replace('_', ' ')
    
    return name_student, modality    

def convert_float(value):
    value = str(value)
    value = value.replace('.','')
    value = value.replace(',','.')
    try:
        value = float(value)
    except:
        print(value)
        value
    return value

def convert_to_preferred_format(sec):
   sec = sec % (24 * 3600)
   hour = sec // 3600
   sec %= 3600
   min = sec // 60
   sec %= 60
   return "%02d:%02d:%02d" % (hour, min, sec) 

def convert_pace(value):
    value  = value.split(':')
    minutes = int(value[0])
    seconds = int(value[1])
    
    seconds = seconds + (minutes * 60)
    return convert_to_preferred_format(seconds)

def convert_date(value):
    try:
        return parse(value)
    except:
        return '1999-01-01'
    
def convert_gender(value):
    if value == 'Masculino':
        return 'Masculino'
    elif value == 'Feminino':
        return 'Feminino'
    else:
        return value

## Coletando dados da tabela de modalidade

In [4]:
df_modality = pd.read_sql('select id_modality as modality_id, description as modality from modality', con=connection.engine)

In [5]:
df_modality

   modality_id    modality
0            1     Corrida
1            2    Ciclismo
2            3     Natação
3            4  Musculação

In [6]:
df_modality.set_index('modality', inplace=True)

In [7]:
df_modality

            modality_id
modality
Corrida               1
Ciclismo              2
Natação               3
Musculação            4

# Tratamento dos dados de alunos

In [8]:
df_students = pd.read_excel(os.path.join(os.getcwd(), 'get_and_process_data_massela/files/Alunos.xls'))

In [9]:
df_students.drop(['Telefone', 'CPF','RG','E-mail','Endereço','Data Entrada','Tamanho da Camiseta', 'Status' ], axis=1, inplace=True)

In [10]:
df_students.head()

                          Nome       Sexo Data de Nascimento
0  Adalberto Bernardo Carvalho  Masculino         23/04/1983
1       Adalberto Seiti Tamura  Masculino         17/09/1983
2   Adriana Alves de Oliveira    Feminino         28/11/1981
3        Adriana Esteves Silva   Feminino         02/05/1987
4    Adriano Rezende Goncalves  Masculino         15/11/1981

In [11]:
df_students.rename(columns={"Nome": "name", "Sexo": "gender", "Data de Nascimento": 'birth_date'}, inplace=True)
df_students.head()

                          name     gender  birth_date
0  Adalberto Bernardo Carvalho  Masculino  23/04/1983
1       Adalberto Seiti Tamura  Masculino  17/09/1983
2   Adriana Alves de Oliveira    Feminino  28/11/1981
3        Adriana Esteves Silva   Feminino  02/05/1987
4    Adriano Rezende Goncalves  Masculino  15/11/1981

In [12]:
df_students.birth_date = df_students.birth_date.apply(lambda x : convert_date(x))

/tmp/ipykernel_14869/2043761723.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df_students.birth_date = df_students.birth_date.apply(lambda x : convert_date(x))

In [13]:
df_students

                                    name     gender birth_date
0            Adalberto Bernardo Carvalho  Masculino 1983-04-23
1                 Adalberto Seiti Tamura  Masculino 1983-09-17
2             Adriana Alves de Oliveira    Feminino 1981-11-28
3                  Adriana Esteves Silva   Feminino 1987-02-05
4              Adriano Rezende Goncalves  Masculino 1981-11-15
..                                   ...        ...        ...
281                  Victor Molena Silva  Masculino 1986-09-10
282               Vinicius Badrez Zurita  Masculino 1994-10-21
283  Vinicius Cerqueira dos Santos Silva  Masculino 1990-12-03
284             Vinicius Toshio Horikawa  Masculino 1995-08-11
285                   Viseli Nascimento    Feminino 1991-08-19

[286 rows x 3 columns]

In [14]:
df_students.query("gender == None")

Empty DataFrame
Columns: [name, gender, birth_date]
Index: []

# Ingestão/Atualização dos dados de alunos

In [15]:
query = text(""" 
            INSERT INTO students(name, gender, birth_date)
            VALUES %s
            ON CONFLICT (name)
            DO  UPDATE SET name= excluded.name,
            gender = excluded.gender,
            birth_date = excluded.birth_date
            
     """ % ','.join([str(i) for i in list(df_students.to_records(index=False))]).replace('"', "'"))
connection.engine.execute(query)

# Recuperando os ids dos alunos

In [16]:
df_students_postgresql = pd.read_sql('select id_student as student_id, name as name_student from students',con=connection.engine)

In [17]:
df_students_postgresql.set_index('name_student', inplace=True)

# Tratando os dados de treinos

In [50]:
local_files =  glob.glob(f'{os.path.join(os.getcwd(), "get_and_process_data_massela/files/")}*.xls')

In [19]:
print(f'Total de arquivos: {len(local_files)}')

Total de arquivos: 1145

In [20]:
list_dfs = []
for file in local_files:
    filename = os.path.basename(file)
    if filename != 'Alunos.xls':
        if filename != 'planilha_evolucao.xls':
            name_student, modality = identify_name_and_modality(filename=filename)
            df = pd.read_excel(file)
            df.rename(columns={df.columns[0]: "day_1",
                           df.columns[1]: "training_date",
                           df.columns[2]: "proposed_workouts",
                           df.columns[3]: "workouts_done",
                           df.columns[4]: "proposed_distance",
                           df.columns[5]: "distance_done",
                           df.columns[6]: "avg_distance_per_training",
                           df.columns[7]: "minimum_proposed_time",
                           df.columns[8]: "maximum_proposed_time",
                           df.columns[9]: "time_done",
                           df.columns[10]: "avg_time_per_training",
                           df.columns[11]: "avg_speed",
                           df.columns[12]: "avg_pace",
                           df.columns[13]: "avg_fc",
                           df.columns[14]: "accumulated_elevation",
                           df.columns[15]: "calories",
                           df.columns[16]: "day_2"
                          }, inplace=True)
            df.drop(['day_1', 'day_2'], axis=1, inplace=True)
            df['name_student'] = name_student
            df['modality'] = modality
            df = df[:-1]
            list_dfs.append(df)
df_workouts = pd.concat(list_dfs, ignore_index=True)
df_workouts.head()

,training_date,proposed_workouts,workouts_done,proposed_distance,distance_done,avg_distance_per_training,minimum_proposed_time,maximum_proposed_time,time_done,avg_time_per_training,avg_speed,avg_pace,avg_fc,accumulated_elevation,calories,name_student,modality
0,15/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Lucas Vieira De Paula,Musculação
1,16/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Lucas Vieira De Paula,Musculação
2,17/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Lucas Vieira De Paula,Musculação
3,18/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Lucas Vieira De Paula,Musculação
4,19/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Lucas Vieira De Paula,Musculação

In [21]:
df_workouts.sort_values(by=['name_student', 'modality'])

,training_date,proposed_workouts,workouts_done,proposed_distance,distance_done,avg_distance_per_training,minimum_proposed_time,maximum_proposed_time,time_done,avg_time_per_training,avg_speed,avg_pace,avg_fc,accumulated_elevation,calories,name_student,modality
49776,15/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Adalberto Bernardo Carvalho,Ciclismo
49777,16/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Adalberto Bernardo Carvalho,Ciclismo
49778,17/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Adalberto Bernardo Carvalho,Ciclismo
49779,18/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Adalberto Bernardo Carvalho,Ciclismo
49780,19/09/2021,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Adalberto Bernardo Carvalho,Ciclismo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224258,11/09/2022,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Viseli Nascimento,Natação
224259,12/09/2022,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Viseli Nascimento,Natação
224260,13/09/2022,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Viseli Nascimento,Natação
224261,14/09/2022,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Viseli Nascimento,Natação
224262,15/09/2022,0,0,"0,000","0,000","0,000",00:00:00,00:00:00,00:00:00,00:00:00,"0,00",00:00,0,0,0,Viseli Nascimento,Natação

In [22]:
# Convert data
df_workouts.training_date = df_workouts.training_date.apply(lambda x : parse(x))

In [23]:
# convert int
df_workouts.proposed_workouts = df_workouts.proposed_workouts.apply(lambda x : int(x))

In [24]:
# convert int
df_workouts.workouts_done = df_workouts.workouts_done.apply(lambda x : int(x))

In [25]:
df_workouts.avg_pace = df_workouts.avg_pace.apply(lambda x :convert_pace(x))

In [26]:
# convert float
df_workouts.proposed_distance = df_workouts.proposed_distance.apply(lambda x : convert_float(x))

In [27]:
# convert float
df_workouts.distance_done = df_workouts.distance_done.apply(lambda x : convert_float(x))

In [28]:
# convert float
df_workouts.avg_distance_per_training = df_workouts.avg_distance_per_training.apply(lambda x : convert_float(x))

In [29]:
# convert float
df_workouts.avg_speed = df_workouts.avg_speed.apply(lambda x : convert_float(x))

In [30]:
# convert int
df_workouts.accumulated_elevation = df_workouts.accumulated_elevation.apply(lambda x : convert_float(x))

In [31]:
# convert int
df_workouts.avg_fc = df_workouts.avg_fc.apply(lambda x : int(x))

In [32]:
# convert int
df_workouts.calories = df_workouts.calories.apply(lambda x : convert_float(x))

In [33]:
df_workouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418524 entries, 0 to 418523
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   training_date              418524 non-null  datetime64[ns]
 1   proposed_workouts          418524 non-null  int64
 2   workouts_done              418524 non-null  int64
 3   proposed_distance          418524 non-null  float64
 4   distance_done              418524 non-null  float64
 5   avg_distance_per_training  418524 non-null  float64
 6   minimum_proposed_time      418524 non-null  object
 7   maximum_proposed_time      418524 non-null  object
 8   time_done                  418524 non-null  object
 9   avg_time_per_training      418524 non-null  object
 10  avg_speed                  418524 non-null  float64
 11  avg_pace                   418524 non-null  object
 12  avg_fc                     418524 non-null  int64
 13  accumulated_elevation      418524 non-null  float64
 14  calories                   418524 non-null  float64
 15  name_student               418524 non-null  object
 16  modality                   418524 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(7)
memory usage: 54.3+ MB

In [34]:
print(f'Total de dados baixados: {df_workouts.shape[0]}')

Total de dados baixados: 418524

In [35]:
df_workouts = df_workouts.query("proposed_workouts >0 or workouts_done > 0")

In [36]:
print(f'Dados de treinos propostos ou feitos: {df_workouts.shape[0]}')

Dados de treinos propostos ou feitos: 32819

In [37]:
df_workouts.set_index('name_student', inplace=True)

In [38]:
df_final = df_students_postgresql.join(df_workouts, how="inner").reset_index()

In [39]:
df_final

,name_student,student_id,training_date,proposed_workouts,workouts_done,proposed_distance,distance_done,avg_distance_per_training,minimum_proposed_time,maximum_proposed_time,time_done,avg_time_per_training,avg_speed,avg_pace,avg_fc,accumulated_elevation,calories,modality
0,Adalberto Seiti Tamura,2,2021-09-15,1,1,0.0,0.00,0.00,00:00:00,00:00:00,00:00:00,00:00:00,0.00,00:00:00,0,0.0,0.0,Corrida
1,Adalberto Seiti Tamura,2,2021-09-17,1,0,0.0,0.00,0.00,00:00:00,00:00:00,00:00:00,00:00:00,0.00,00:00:00,0,0.0,0.0,Corrida
2,Adalberto Seiti Tamura,2,2021-09-20,1,1,0.0,0.00,0.00,00:00:00,00:00:00,00:00:00,00:00:00,0.00,00:00:00,0,0.0,0.0,Corrida
3,Adalberto Seiti Tamura,2,2021-09-22,1,1,0.0,0.00,0.00,00:00:00,00:00:00,00:00:00,00:00:00,0.00,00:00:00,0,0.0,0.0,Corrida
4,Adalberto Seiti Tamura,2,2021-09-24,1,1,0.0,0.00,0.00,00:00:00,00:00:00,00:00:00,00:00:00,0.00,00:00:00,0,0.0,0.0,Corrida
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31243,Vinicius Toshio Horikawa,285,2022-10-09,1,1,0.0,19.30,19.30,00:00:00,00:00:00,01:45:00,01:45:00,11.03,00:05:26,157,0.0,1180.0,Corrida
31244,Vinicius Toshio Horikawa,285,2022-12-09,1,1,0.0,11.11,11.11,00:00:00,00:00:00,01:00:00,01:00:00,11.11,00:05:24,148,72.7,654.0,Corrida
31245,Vinicius Toshio Horikawa,285,2022-09-13,1,1,0.0,9.17,9.17,00:00:00,00:00:00,00:45:00,00:45:00,12.23,00:04:54,151,0.0,523.0,Corrida
31246,Vinicius Toshio Horikawa,285,2022-09-14,1,0,0.0,0.00,0.00,00:00:00,00:00:00,00:00:00,00:00:00,0.00,00:00:00,0,0.0,0.0,Corrida
31247,Vinicius Toshio Horikawa,285,2022-09-15,1,0,0.0,0.00,0.00,00:00:00,00:00:00,00:00:00,00:00:00,0.00,00:00:00,0,0.0,0.0,Corrida

In [40]:
df_final.set_index('modality', inplace=True)

In [41]:
df_final = df_final.join(df_modality, how='inner').reset_index()

In [42]:
df_final.head()

,modality,name_student,student_id,training_date,proposed_workouts,workouts_done,proposed_distance,distance_done,avg_distance_per_training,minimum_proposed_time,maximum_proposed_time,time_done,avg_time_per_training,avg_speed,avg_pace,avg_fc,accumulated_elevation,calories,modality_id
0,Ciclismo,Adalberto Seiti Tamura,2,2022-06-19,0,1,0.0,29.887,29.887,00:00:00,00:00:00,02:35:42,02:35:42,11.52,00:05:12,133,467.730,1208.0,2
1,Ciclismo,Adalberto Seiti Tamura,2,2022-06-26,0,1,0.0,19.621,19.621,00:00:00,00:00:00,02:02:07,02:02:07,9.64,00:06:13,145,635.086,1227.0,2
2,Ciclismo,Adalberto Seiti Tamura,2,2022-08-28,0,1,0.0,55.371,55.371,00:00:00,00:00:00,03:52:31,03:52:31,14.29,00:04:11,116,268.531,1501.0,2
3,Ciclismo,Adalberto Seiti Tamura,2,2022-11-09,0,1,0.0,24.252,24.252,00:00:00,00:00:00,02:20:42,02:20:42,10.34,00:05:48,151,550.545,1414.0,2
4,Ciclismo,Alex Castanheira Bortoto,8,2021-09-26,0,1,0.0,11.162,11.162,00:00:00,00:00:00,00:59:56,00:59:56,11.17,00:05:22,138,502.700,501.0,2

In [43]:
df_final.drop(['modality', 'name_student'],  axis=1, inplace=True)

In [44]:
df_final.head()

,student_id,training_date,proposed_workouts,workouts_done,proposed_distance,distance_done,avg_distance_per_training,minimum_proposed_time,maximum_proposed_time,time_done,avg_time_per_training,avg_speed,avg_pace,avg_fc,accumulated_elevation,calories,modality_id
0,2,2022-06-19,0,1,0.0,29.887,29.887,00:00:00,00:00:00,02:35:42,02:35:42,11.52,00:05:12,133,467.730,1208.0,2
1,2,2022-06-26,0,1,0.0,19.621,19.621,00:00:00,00:00:00,02:02:07,02:02:07,9.64,00:06:13,145,635.086,1227.0,2
2,2,2022-08-28,0,1,0.0,55.371,55.371,00:00:00,00:00:00,03:52:31,03:52:31,14.29,00:04:11,116,268.531,1501.0,2
3,2,2022-11-09,0,1,0.0,24.252,24.252,00:00:00,00:00:00,02:20:42,02:20:42,10.34,00:05:48,151,550.545,1414.0,2
4,8,2021-09-26,0,1,0.0,11.162,11.162,00:00:00,00:00:00,00:59:56,00:59:56,11.17,00:05:22,138,502.700,501.0,2

# Insere ou atualiza um registro

In [45]:
query = text(""" 
            INSERT INTO workouts(student_id, training_date, proposed_workouts, workouts_done, proposed_distance, distance_done, avg_distance_per_training, minimum_proposed_time, maximum_proposed_time, time_done,avg_time_per_training,avg_speed,avg_pace,avg_fc,accumulated_elevation,calories,modality_id)
            VALUES %s
            ON CONFLICT (modality_id,student_id,training_date)
            DO  UPDATE SET training_date = excluded.training_date,
            proposed_workouts  = excluded.proposed_workouts  ,
            workouts_done = excluded.workouts_done,
            proposed_distance = excluded.proposed_distance,
            distance_done = excluded.distance_done,
            avg_distance_per_training =  excluded.avg_distance_per_training,
            minimum_proposed_time = excluded.minimum_proposed_time,
            maximum_proposed_time = excluded.minimum_proposed_time,
            time_done =  excluded.time_done,
            avg_time_per_training = excluded.avg_time_per_training,
            avg_speed = excluded.avg_speed,
            avg_pace =  excluded.avg_pace,
            avg_fc = excluded.avg_fc,
            accumulated_elevation =excluded.accumulated_elevation,
            calories = excluded.calories
     """ % ','.join([str(i) for i in list(df_final.to_records(index=False))]).replace('"', "'"))
connection.engine.execute(query)